.comment {
    color: #ddd;
    list-style-type: none;
    padding: 20px;
    background-color: rgba(0, 0, 0, .8);
}

.image {
    height: 50px;
}

.name {

}

.text {

}

.publishedAt {
    margin-left: 20px;
    color: #aaa;
    font-size: 12px;
}