.item {
    margin-bottom: 15px;
    cursor: pointer;
    max-width: 800px;
    word-break: break-all;
}

.title {
    font-size: 16px;
}

.link {
    font-size: 14px;
    color: #006600;
    word-break: break-all;
}

.thumbnail {
    cursor: pointer;
    width: 100%;
}

.publishedAt {
    font-size: 12px;
    margin: 5px 0;
    color: #006600;
}
